@import "bootstrap/dist/css/bootstrap.min.css";

*{
    margin: 0;
    padding:0;
}
body{
    background: white;
}
.text-header{
    font-family: "Amatic SC", sans-serif;
    color:black;
    font-weight: 900;
}
.container{
    min-height: 50vh;
    width: 100%;
    max-width: 60%;
}
.tictactoe{
    width: 300px;
    height: 300px;
    font-family: "Handlee", cursive;
}
.box {
    height: 100px; 
    cursor: pointer;
    transition: background 0.3s;
}

.box:hover {
    background-color: #f8f9fa;
}